numpy
scipy
pandas
astor
psutil
tqdm
joblib
networkx
matplotlib
seaborn
scikit-learn
transformers
sentence-transformers
fastapi
uvicorn
pydantic
torch==2.2.1 --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
